{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@loadable/babel-plugin",
    [
      "module-resolver",
      {
        "root": ["./app"],
        "alias": {
          "app": "./app"
        }
      }
    ]
  ]
}
